<div>
  <form >
    <label for="name" class="form-label">Nombre:</label>
    <input type="text" name="name" [(ngModel)]="inputName" class="form-control" required #name="ngModel">
    <label for="author" class="form-label">Autor:</label>
    <input type="text" name="author" [(ngModel)]="inputAuthor" class="form-control" required #author="ngModel">
    <label for="genre" class="form-label" >Género:</label>
    <input type="text" name="genre" [(ngModel)]="inputGenre" class="form-control" required #genre="ngModel">
    <label for="year" class="form-label" >Año publicación:</label>
    <input type="number" name="year" [(ngModel)]="inputYear" class="form-control">
    <label for="description" class="form-label">Descripción</label>
    <input type="text" name="description" [(ngModel)]="inputDescription" class="form-control">
    <label for="price" class="form-label">Precio</label>
    <input type="text" name="price" [(ngModel)]="inputPrice" class="form-control">
    <input type="submit" class="btn btn-primary" (click)="updateBook()" value="Registrar" 
      [disabled]="name.invalid || author.invalid || genre.invalid"
    >

    <p *ngIf="name.errors?.['required']">El campo Nombre es obligatorio!</p>
    <p *ngIf="author.errors?.['required']">El campo Autor es obligatorio!</p>
    <p *ngIf="genre.errors?.['required']">El campo Genero es obligatorio!</p>
    
  </form>
</div>