<nav class="nav">
  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
  <a class="nav-link" routerLink="/register-book">Registrar libro</a>
  <a class="nav-link" routerLink="/detail-book">Detalle Libro</a>
</nav>
<h1>{{ title }}</h1>

<router-outlet></router-outlet>
<!--<app-book-list 
  [books]="books" 
  (selectBookEvent)="setSelectedBook($event)">
</app-book-list>
<app-book-registration></app-book-registration>
<app-book-detail 
  [book]="selectedBook">
</app-book-detail>
-->
